@charset "utf-8";

/*------------------*/
/*-- Fonts --*/
/*------------------*/

/*-------------------------------------------*/
/* BASIC SETUP */
/*-------------------------------------------*/

* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    -webkit-text-size-adjust: 100%;
}

html,
body {
    min-height: 100%;
    min-width: 100%;
    height: 100%;
}

body {
    font-family: 'Manrope';
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    color: #0E2141;
}

.wrapper {
    position: relative;
    display: flex;
    display: -ms-flexbox;
    display: -webkit-flex;
    flex-direction: column;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    min-height: 100%;
    min-height: 100vh;
}

header {
    flex: 0 0 auto;
    -webkit-flex: 0 0 auto;
}

.content {
    flex: 1 0 auto;
    -webkit-flex: 1 0 auto;
}

footer {
    flex: 0 0 auto;
    -webkit-flex: 0 0 auto;
}

::-webkit-input-placeholder {color:#657898;}
::-moz-placeholder          {color:#657898;}
:-moz-placeholder           {color:#657898;}
:-ms-input-placeholder      {color:#657898;}

input,
textarea,
button,
select,
a,
img {
    outline: none;
}

select {
    -webkit-appearance: none;
    appearance: none;
    -moz-appearance;
    text-indent: 0.01px;
    text-overflow: "";
}

*::-ms-expand { display: none; }

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

input[type="number"] {
    -moz-appearance: textfield;
}

input {
    -webkit-appearance: none;
    -moz-appearance
}

button {
    -webkit-appearance: none;
    -moz-appearance
}

textarea {
    resize: none;
    overflow: auto;
    -webkit-appearance: none;
    -moz-appearance;
}

input::-webkit-input-placeholder       {opacity: 1; transition: opacity .3s ease;}
input::-moz-placeholder                {opacity: 1; transition: opacity .3s ease;}
input:-moz-placeholder                 {opacity: 1; transition: opacity .3s ease;}
input:-ms-input-placeholder            {opacity: 1; transition: opacity .3s ease;}
input:focus::-webkit-input-placeholder {opacity: 0; transition: opacity .3s ease;}
input:focus::-moz-placeholder          {opacity: 0; transition: opacity .3s ease;}
input:focus:-moz-placeholder           {opacity: 0; transition: opacity .3s ease;}
input:focus:-ms-input-placeholder      {opacity: 0; transition: opacity .3s ease;}

textarea::-webkit-input-placeholder       {opacity: 1; transition: opacity .3s ease;}
textarea::-moz-placeholder                {opacity: 1; transition: opacity .3s ease;}
textarea:-moz-placeholder                 {opacity: 1; transition: opacity .3s ease;}
textarea:-ms-input-placeholder            {opacity: 1; transition: opacity .3s ease;}
textarea:focus::-webkit-input-placeholder {opacity: 0; transition: opacity .3s ease;}
textarea:focus::-moz-placeholder          {opacity: 0; transition: opacity .3s ease;}
textarea:focus:-moz-placeholder           {opacity: 0; transition: opacity .3s ease;}
textarea:focus:-ms-input-placeholder      {opacity: 0; transition: opacity .3s ease;}

.clearfix:after,
.clearfix:before {
    display: block;
    content: "";
}

/*-------------------------------------------*/
/* ----- DEFAULT STYLES ------ */
/*-------------------------------------------*/

section {
    position: relative;
    padding: 10px 0;
}

h1 {

}

h2 {

}

h3 {

}

h4 {

}

p {
    font-family: 'Manrope';
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    color: #0E2141;
}

a {
    text-decoration: none;
}

li {
    list-style: none;

}

img {
    outline: none;
    border: 1px solid transparent;
    border: none;
}

button:hover,
button:active,
a:hover,
a:active {
    -webkit-tap-highlight-color: rgba(0,0,0,0); 
    -webkit-tap-highlight-color: transparent;
}

input {

}

input:focus {

}

textarea {

}

textarea:focus {

}

/*-------------------------------------------*/
/* ----- REUSABLE COMPONENTS ------ */
/*-------------------------------------------*/

.row {

}

.overflow_wrapp {
    overflow: hidden;
}

.align_center {
    text-align: center;
}

.align_right {
    text-align: right;
}

.align_left {
    text-align: left;
}

/*-------------------------------------------*/
/* ----- HEADER ------ */
/*-------------------------------------------*/

#header {
    margin: 9px;
    border-radius: 25px;
    background: #FFF;
    border: 1px solid #F2F6FA;
    border-radius: 24px;
}

.header_top {
    display: flex;
    flex-wrap: wrap;
    background: #EAF4FF;
    padding: 0 30px;
    border-radius: 24px 24px 0 0;
}

.header_top > .left {
    width: calc(100% - 420px);
    padding: 6px 10px 4px 0;
}

.header_top > .right {
    width: 420px;
    padding: 6px 0 4px 10px;
}

.inlines {
    display: flex;
    margin: 0 -8px;
}

.inlines > div {
    padding: 0 8px;
}

.white_box {
    display: flex;
    margin: 0 -5px;
    background: #FFF;
    border-radius: 6px;
    padding: 4px 10px;
}

.white_box > div {
    padding: 0 5px;
}

.socilas {
    display: flex;
    margin: 0 -4px;
}

.socilas > li {
    padding: 3px 4px;
}

.socilas > li > a {
    display: block;
    width: 20px;
    height: 20px;
}

.socilas > li > a > img {
    display: block;
    width: auto;
    height: auto;
    max-width: 100%;
}

.tel_link {
    font-weight: 600;
    font-size: 14px;
    line-height: 140%;
    color: #0E2141;
}

.tel_link span {
    padding-right: 3px;
    color: #657898;
}

.tels_links {
    display: flex;
}

.tels_links li {
    padding: 7px 8px;
}

.tels_links li a {
    display: inline-block;
    vertical-align: top;
    font-weight: 500;
    font-size: 14px;
    line-height: 140%;
    color: #0E2141;
}

.tels_links li a span {
    padding-right: 3px;
    color: #657898;
}

.inlines_3 {
    display: flex;
    justify-content: flex-end;
    margin: 0 -8px;
}

.inlines_3 > div {
    padding: 0 8px;
}

.custom_select {
    position: relative;
}

.custom_select input {
    opacity: 0;
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
}

.custom_select_title {
    height: 35px;
    position: relative;
    top: 4px;
    padding-right: 21px;
    cursor: pointer;
}

.custom_select_title:after {
    display: block;
    content: "";
    width: 16px;
    height: 16px;
    background-image: url(img/down_arrow.svg);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    top: 4px;
    right: 0;
    -webkit-transition-property: transform;
    -webkit-transition-duration: .3s;
    -webkit-transition-timing-function: ease;

    -moz-transition-property: transform;
    -moz-transition-duration: .3s;
    -moz-transition-timing-function: ease;

    -ms-transition-property: transform;
    -ms-transition-duration: .3s;
    -ms-transition-timing-function: ease;

    -o-transition-property: transform;
    -o-transition-duration: .3s;
    -o-transition-timing-function: ease;

    transition-property: transform;
    transition-duration: .3s;
    transition-timing-function: ease;
}

.custom_select.active .custom_select_title:after {
    transform: rotate(-180deg);
    -webkit-transform: rotate(-180deg);
}

.p_val {
    display: inline-flex;
}

.p_val img {
    margin-right: 5px;
    position: relative;
    top: -2px;
}

.custom_dr {
    width: 100%;
    position: absolute;
    top: calc(100% + 5px);
    left: -200vw;
    opacity: 0;
    z-index: 3;
    -webkit-transition-property: opacity;
    -webkit-transition-duration: .3s;
    -webkit-transition-timing-function: ease;

    -moz-transition-property: opacity;
    -moz-transition-duration: .3s;
    -moz-transition-timing-function: ease;

    -ms-transition-property: opacity;
    -ms-transition-duration: .3s;
    -ms-transition-timing-function: ease;

    -o-transition-property: opacity;
    -o-transition-duration: .3s;
    -o-transition-timing-function: ease;

    transition-property: opacity;
    transition-duration: .3s;
    transition-timing-function: ease;
}

.custom_select.active .custom_dr {
    left: 0;
    opacity: 1;
}

.custom_select_list {

}

.custom_select_list li {

}

.like {
    display: inline-flex;
    position: relative;
    top: 3px;
    font-weight: 500;
    font-size: 14px;
    line-height: 140%;
    color: #0E2141;
}

.like svg {
    margin-right: 8px;
    position: relative;
    top: 3px;
}

.like span {

}

.btn_wrapp {
    padding-left: 22px;
    position: relative;
    top: -1px;
}

.orange_pill {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    min-height: 36px;
    padding: 8px 12px;
    background: #FF622D;
    border-radius: 60px;
    font-family: 'Manrope';
    font-weight: 500;
    font-size: 14px;
    line-height: 140%;
    color: #FFF;
}

.header_2 {
    display: flex;
    padding: 0 30px;
    border-bottom: 1px solid #F3F9FE;
}

.header_2 > .left {
    width: 400px;
    padding: 4px 4px 4px 0;
}

.header_2 > .right {
    width: calc(100% - 400px);
    padding: 4px 0 4px 4px;
}

.inlines_4 {
    display: flex;
    margin: 0 -19px;
}

.inlines_4 > div {
    padding: 5px 15px;
}

.logo {
    display: inline-block;
    vertical-align: top;
}

.logo img {
    display: block;
    width: auto;
    height: auto;
    max-width: 100%;
}

.logo_p {
    padding: 19px 0 0 0;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    color: #0077BC;
}

.nav_pills {
    display: flex;
    justify-content: flex-end;
    margin: 0 -2px;
}

.nav_pills li {
    padding: 0 2px;
}

.pill_link {
    display: inline-block;
    vertical-align: top;
    padding: 14px 24px 0 24px;
    min-height: 76px;
    background: #EAF4FF;
    border-radius: 12px 12px 0 0;
    position: relative;
    overflow: hidden;
}

.pill_link .bottom_shape {
    display: block;
    width: 100%;
    height: 4px;
    border-radius: 0 0 12px 12px;
    position: absolute;
    bottom: 0;
    left: 0;
}

.pill_link .hover_gradient {
    display: block;
    width: 100%;
    height: 0;
    position: absolute;
    bottom: 0;
    left: 0;
    -webkit-transition-property: height;
    -webkit-transition-duration: .3s;
    -webkit-transition-timing-function: ease;

    -moz-transition-property: height;
    -moz-transition-duration: .3s;
    -moz-transition-timing-function: ease;

    -ms-transition-property: height;
    -ms-transition-duration: .3s;
    -ms-transition-timing-function: ease;

    -o-transition-property: height;
    -o-transition-duration: .3s;
    -o-transition-timing-function: ease;

    transition-property: height;
    transition-duration: .3s;
    transition-timing-function: ease;
}

.pill_link:hover .hover_gradient {
    height: 100%;
}

.z_2 {
    position: relative;
    z-index: 2;
}

/*.pill_link.yellow:before {
    background: #FECA00;
}

.pill_link.blue:before {
    background: #00A1BE;
}

.pill_link.red:before {
    background: #F61C0D;
}

.pill_link.green:before {
    background: #82E480;
}*/

.icon_box {
    width: 25px;
    height: 25px;
    margin: 0 auto 3px auto;
}

.icon_box img {
    display: block;
    width: auto;
    margin: 0 auto;
}

.pill_link p {
    font-weight: 500;
    font-size: 14px;
    line-height: 140%;
    color: #0E2141;
}

.header_nav {
    display: flex;
    padding: 0 30px;
    border-radius: 0 0 24px 24px;
}

.header_nav > .left {
    width: calc(100% - 230px);
    padding: 4px 10px 4px 0;
}

.header_nav > .right {
    width: 230px;
    padding: 4px 0 4px 10px;
}

.nav {
    display: flex;
    margin: 12px -15px;
}

.nav li {
    padding: 0 15px;
    display: flex;
}

.nav li a {
    display: inline-block;
    vertical-align: top;
    position: relative;
/*    padding-right: 20px;*/
    font-weight: 500;
    font-size: 14px;
    line-height: 140%;
    color: #0E2141;
    -webkit-transition-property: color;
    -webkit-transition-duration: .3s;
    -webkit-transition-timing-function: ease;

    -moz-transition-property: color;
    -moz-transition-duration: .3s;
    -moz-transition-timing-function: ease;

    -ms-transition-property: color;
    -ms-transition-duration: .3s;
    -ms-transition-timing-function: ease;

    -o-transition-property: color;
    -o-transition-duration: .3s;
    -o-transition-timing-function: ease;

    transition-property: color;
    transition-duration: .3s;
    transition-timing-function: ease;
}

.nav li a:hover {
    color: #0077BC;
}

.nav li a + .down_arrow {
    display: block;
    margin-left: 7px;
    position: relative;
    top: 1px;
    -webkit-transition-property: transform;
    -webkit-transition-duration: .3s;
    -webkit-transition-timing-function: ease;

    -moz-transition-property: transform;
    -moz-transition-duration: .3s;
    -moz-transition-timing-function: ease;

    -ms-transition-property: transform;
    -ms-transition-duration: .3s;
    -ms-transition-timing-function: ease;

    -o-transition-property: transform;
    -o-transition-duration: .3s;
    -o-transition-timing-function: ease;

    transition-property: transform;
    transition-duration: .3s;
    transition-timing-function: ease;
}

.nav li a.active + .down_arrow,
.nav li a:hover + .down_arrow {
    transform: rotate(-180deg);
    -webkit-transform: rotate(-180deg);
}

.nav li a + svg.down_arrow path {
    stroke: #0E2141;
    -webkit-transition-property: stroke;
    -webkit-transition-duration: .3s;
    -webkit-transition-timing-function: ease;

    -moz-transition-property: stroke;
    -moz-transition-duration: .3s;
    -moz-transition-timing-function: ease;

    -ms-transition-property: stroke;
    -ms-transition-duration: .3s;
    -ms-transition-timing-function: ease;

    -o-transition-property: stroke;
    -o-transition-duration: .3s;
    -o-transition-timing-function: ease;

    transition-property: stroke;
    transition-duration: .3s;
    transition-timing-function: ease;
}

.nav li a:hover + svg.down_arrow path {
    stroke: #0077BC;
}

.search_form {
    display: flex;
    height: 44px;
    background: #EAF4FF;
    border-radius: 56px;
    overflow: hidden;
}

.search_form > div:nth-child(1) {
    width: calc(100% - 40px);
}

.search_form > div:nth-child(2) {
    width: 40px;
    height: 44px;
}

.search_form input {
    display: block;
    width: 100%;
    padding: 0 12px;
    border: none;
    background: transparent;
    font-family: 'Manrope';
    font-weight: 500;
    font-size: 14px;
    line-height: 44px;
    color: #657898;
}

.search_btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 44px;
    background: transparent;
    border: none;
    cursor: pointer;
}

.search_btn svg {
    display: block;
    width: auto;
    height: auto;
    max-width: 100%;
}

.slider_section {
/*    height: 590px;
    border-radius: 24px;
    overflow: hidden;*/
}

.promo_slider {
    height: 590px;
    border-radius: 24px;
    position: relative;
}

.slide_prev {
    display: block;
    position: absolute;
    top: 170px;
    left: 30px;
    z-index: 3;
    cursor: pointer;
}

.slide_next {
    display: block;
    position: absolute;
    top: 170px;
    right: 30px;
    z-index: 3;
    cursor: pointer;
}

.promo_slider_wrapper {
    background: #646464;
}

.promo_slide {
    height: 590px;
    border-radius: 24px;
}

.promo_slide .inner {
    display: block;
    height: 590px;
    background-size: cover;
    background-position: center;
    padding: 70px 0 184px 0;
}

.promo_slide .inner:before {
    display: block;
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-image: url(img/slide_shape.png);
    background-size: cover;
    background-position: center;
    opacity: .2;
}

.promo_slide .inner > div {
    width: 100%;
    text-align: center;
    position: relative;
    z-index: 2;
}

.promo_title {
    padding: 14px 0;
}

.promo_title h1 {
    font-weight: 700;
    font-size: 64px;
    line-height: 115%;
    color: #FFF;
    text-shadow: 0 0 20px rgba(0, 0, 0, .15);
}

.promo_text {
    display: inline-flex;
    justify-content: center;
    flex-wrap: wrap;
    background: rgba(255, 255, 255, .76);
    backdrop-filter: blur(3px);
    border-radius: 12px;
    padding: 7px 5px 7px 5px;
}

.promo_text p {
    padding: 5px 8px;
    font-weight: 700;
    font-size: 24px;
    line-height: 124%;
    color: #0077BC;
}

.promo_text p:nth-child(even) {
    color: #E0682A;
}

/*-- SubMenuItems --*/

.sub_menu {
    background: rgba(0, 0, 0, .6);
    padding: 30px 30px 30px 30px;
}

/*.nav li {
    position: relative;
}

.nav li .sub_menu {
    width: 100vw;
    position: absolute;
    top: 0;
    left: 0;
}*/

.menu_thumbs {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -6px;
}

.menu_thumb {
    width: calc(25% - 12px);
    min-height: 120px;
    margin: 6px;
    padding: 23px 20px 23px 20px;
    background: #ffffff;
    border-radius: 16px;
    -webkit-transition-property: background;
    -webkit-transition-duration: .3s;
    -webkit-transition-timing-function: ease;

    -moz-transition-property: background;
    -moz-transition-duration: .3s;
    -moz-transition-timing-function: ease;

    -ms-transition-property: background;
    -ms-transition-duration: .3s;
    -ms-transition-timing-function: ease;

    -o-transition-property: background;
    -o-transition-duration: .3s;
    -o-transition-timing-function: ease;

    transition-property: background;
    transition-duration: .3s;
    transition-timing-function: ease;
}

.menu_thumb:hover {
    background: #EAF4FF;
}

.menu_thumb_descript {
    min-height: 61px;
    position: relative;
    padding-right: 45px;
}

.menu_thumb_descript p {
    font-weight: 600;
    font-size: 16px;
    line-height: 150%;
    color: #0E2141;
}

.arrow {
    display: block;
    width: 40px;
    height: 40px;
    background-image: url(img/orange_arrow.svg);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.menu_thumb_descript .arrow {
    position: absolute;
    top: 0;
    right: 0;
    opacity: 0;
    -webkit-transition-property: opacity;
    -webkit-transition-duration: .3s;
    -webkit-transition-timing-function: ease;

    -moz-transition-property: opacity;
    -moz-transition-duration: .3s;
    -moz-transition-timing-function: ease;

    -ms-transition-property: opacity;
    -ms-transition-duration: .3s;
    -ms-transition-timing-function: ease;

    -o-transition-property: opacity;
    -o-transition-duration: .3s;
    -o-transition-timing-function: ease;

    transition-property: opacity;
    transition-duration: .3s;
    transition-timing-function: ease;
}

.menu_thumb:hover .menu_thumb_descript .arrow {
    opacity: 1;
}

.arrow.orange {
    background-image: url(img/orange_arrow.svg);
}

.arrow.creame {
    background-image: url(img/creame_arrow.svg);
}

.menu_thumb img {

}


/*-- /SubMenuItems --*/


/* ----- Responsive Menu Button ------ */

.respmenubtn {
    /*display: inline-block;*/
    display: none;
    vertical-align: top;
    width: 26px;
    height: 26px;
    background: transparent;
    cursor: pointer;
    position: relative;
    top: 12px;
    z-index: 11;
    border: 1px solid transparent;
    margin-left: 10px;
}

.respmenubtn span {
    display: block;
    width: 24px;
    height: 2px;
    background: #1565C0;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    margin: 0 auto 6px auto;
    -webkit-transition-property: transform, border, background;
    -webkit-transition-duration: .3s;
    -webkit-transition-timing-function: ease;

    -moz-transition-property: transform, border, background;
    -moz-transition-duration: .3s;
    -moz-transition-timing-function: ease;

    -ms-transition-property: transform, border, background;
    -ms-transition-duration: .3s;
    -ms-transition-timing-function: ease;

    -o-transition-property: transform, border, background;
    -o-transition-duration: .3s;
    -o-transition-timing-function: ease;

    transition-property: transform, border, background;
    transition-duration: .3s;
    transition-timing-function: ease;
}

.respmenubtn span:last-child {
    margin: 0 auto;
}

.respmenubtn:active {
    -webkit-tap-highlight-color: rgba(0,0,0,0); 
    -webkit-tap-highlight-color: transparent;
}

.respmenubtn:hover span {
    background: #FD8C04;
}

.respmenubtn.active span {
    position: relative;
    width: 30px;
    top: 0;
    left: -2px;
    background: #FD8C04;
}

.respmenubtn.active span:last-child {
    display: none;
}

.respmenubtn.active span:first-child {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    margin: 3px 0 0 0;
    position: relative;
    top: 2px;
    left: -2px;
}

.respmenubtn.active span:nth-child(2) {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

/* ----- / Responsive Menu Button ------ */

/*-------------------------------------------*/
/* ----- CONTENT ------ */
/*-------------------------------------------*/



/*-------------------------------------------*/
/* ----- FOOTER ------ */
/*-------------------------------------------*/

footer {

}
